@charset "utf-8";
/* CSS Document */
#top a:hover{ text-decoration:underline;}

/*logo*/
#logo{ width:100%; height:118px; box-shadow:0px 5px 10px #666; -moz-box-shadow:0px 5px 10px #b3b3b3; position:relative; z-index:100;}
#logo img{ margin-top:15px;}
#logo .search{ width:766px; height:36px; border:2px solid #ff3366; margin-top:16px;}
#logo .search select{ height:32px; border:none; border-right:2px solid #ff3366; width:120px; border-radius:0;}
#logo .search input{ border:none; height:32px; line-height:32px; padding-left:5px;}
#logo .search button{ float:right; width:106px; background:#ff3366; border:none; height:100%; color:#fff; cursor:pointer;}
#logo .link{ font-size:0.75em;color:#a9a9a9; text-align:center; margin-top:6px;} 
#logo .link a{ color:#a9a9a9;}
#logo nav{ margin-top:-6px;}
#logo nav a{color:#5d5d5d; font-size:1.125em; font-family:"微软雅黑"; padding:0 8px;}
#logo .pink{color:#ff3366;}
#logo nav .tuiguang{ display:inline-block; width:148px; height:40px; text-align:center; line-height:40px; background:#ff3366; color:#fff;}
/*logo-end*/
#weizhi{ color:#6f6f6f; font-size:0.75em;}
#weizhi p{ margin:10px 0;}
#weizhi p a{ color:#6f6f6f; padding:0 5px 0 0;}
#weizhi p a:hover{ text-decoration:underline;}

/*personal*/
#personal{ border:1px solid #e9e9e9; border-radius:10px; -webkit-border-radius:10px; margin-top:10px; font-size:0.85em;}
/*left*/
#personal .left{ width:168px;}
#personal .left .height25{ width:168px; height:25px;}
#personal .left dl dd{ color:#ff3366; font-family:"微软雅黑"; font-weight:bold; margin-bottom:5px; cursor:pointer;}
#personal .left dl dd span{ display:block; width:5px; height:20px; background:#ff3366; margin-left:5px;}
#personal .left dl dd p{ line-height:20px; margin-left:5px;}
#personal .left dl dd b{ cursor:pointer;}
#personal .left dl dd .hide1{ display:none;}
#personal .left dl dd .hide2{ display:block;}
#personal .left .yincang ul{ display:none;}
#personal .left ul li{height:30px; margin-bottom:5px; line-height:30px; padding-top:8px;}
#personal .left ul li a{ display:inline-block; line-height:15px;}
#personal .left ul a{ color:#5d5d5d;}
#personal .left ul .li1{ background:#ff3366;}
#personal .left ul .li1 a{ color:#fff;}
#personal .left ul .li1 .span1{ background-position:left -15px;}
#personal .left ul li span{ display:block; width:15px; height:15px;margin-left:36px; margin-right:12px;
						  background: url(../images/grzx-icon.png);}
#personal .left ul li .span1{ background-position:left top;}
#personal .left ul li .span2{ background-position:-15px top;}
#personal .left ul li .span3{ background-position:-30px top;}
#personal .left ul li .span4{ background-position:-45px top;}
#personal .left ul li .span5{ background-position:-60px top;}
#personal .left ul li .span6{ background-position:-75px top;}
#personal .left ul li .span7{ background-position:-90px top;}
#personal .left ul li .span8{ background-position:-105px top;}
#personal .left ul li .span9{ background-position:-120px top;}
#personal .left ul li .span10{ background-position:-135px top;}

#personal .left ul .li1 .span2{ background-position:-15px -15px;}
#personal .left ul .li1 .span3{ background-position:-30px -15px;}
#personal .left ul .li1 .span4{ background-position:-45px -15px;}
#personal .left ul .li1 .span5{ background-position:-60px -15px;}
#personal .left ul .li1 .span6{ background-position:-75px -15px;}
#personal .left ul .li1 .span7{ background-position:-90px -15px;}
#personal .left ul .li1 .span8{ background-position:-105px -15px;}
#personal .left ul .li1 .span9{ background-position:-120px -15px;}
#personal .left ul .li1 .span10{ background-position:-135px -15px;}
/*left-end*/

/*right*/
#personal .right { width:1030px; color:#5d5d5d; border-left:1px solid #e9e9e9; height:900px;}
#personal .right .font{ height:50px; border-bottom:1px solid #e9e9e9; padding-left:15px;}
#personal .right .font1{margin:0 5px; margin-top:24px; cursor:pointer;}
#personal .right .font1 .pink{color:#ff3366;}
#personal .right .font .p1{ font-size:1.25em; }
#personal .right .font .p2{ height:8px; margin-top:-8px; display:none;}

/*right-end*/
/*personal-end*/