@charset "utf-8";
/* CSS Document */

		/* 本例子css banner */
		#index .slideBox{ width:796px; height:328px; overflow:hidden; position:relative; border:1px solid #fff;  }
		#index .slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
		#index .slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
		#index .slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
		#index .slideBox .hd ul li.on{ background:#f00; color:#fff; }
		#index .slideBox .bd{ position:relative; height:100%; z-index:0;   }
		#index .slideBox .bd li{ zoom:1; vertical-align:middle; }
		#index .slideBox .bd img{ width:796px; height:328px; display:block;  }


		#yxmt-banner .slideBox{ width:1400px; height:395px; overflow:hidden; position:relative; }
		#yxmt-banner .slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
		#yxmt-banner .slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
		#yxmt-banner .slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
		#yxmt-banner .slideBox .hd ul li.on{ background:#f00; color:#fff; }
		#yxmt-banner .slideBox .bd{ position:relative; height:100%; z-index:0;   }
		#yxmt-banner .slideBox .bd li{ zoom:1; vertical-align:middle; }
		#yxmt-banner .slideBox .bd img{ width:1400px; height:395px; display:block;  }
	

		#grzy-banner{ width:1200px; margin:0 auto;}
		#grzy-banner .slideBox{ width:1200px; height:80px; overflow:hidden; position:relative; }
		#grzy-banner .slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
		#grzy-banner .slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
		#grzy-banner .slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
		#grzy-banner .slideBox .hd ul li.on{ background:#f00; color:#fff; }
		#grzy-banner .slideBox .bd{ position:relative; height:100%; z-index:0;   }
		#grzy-banner .slideBox .bd li{ zoom:1; vertical-align:middle; }
		#grzy-banner .slideBox .bd img{ width:1200px; height:80px; display:block;  }
		
		